/********** Footer Copyright Starts **********/

.footer2-bacbor {
    background: #a76407;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content {
    font-size: 14px;
    color: #fff;
    text-align: center;
}


/********** Footer Copyright Ends **********/